
A2/.idea/libraries/a2.xml
A2/.idea/misc.xml
A2/.idea/modules.xml
A2/.idea/vcs.xml
A2/A2.iml
A3/traveller.md
A3.zip
A4/.idea/A4.iml
A4/.idea/artifacts/A4_jar.xml
A4/.idea/libraries/gson_2_8_6.xml
A4/.idea/misc.xml
A4/.idea/modules.xml
A4/.idea/vcs.xml
A4/.idea/workspace.xml
A4/a4-exec.zip
A4/out/artifacts/A4_jar/a4.jar
A4/src/META-INF/MANIFEST.MF
